---
import CarbonEmail from "@/Icons/Email.astro"
import CarbonGithub from "@/Icons/Github.astro"
import CarbonLocation from "@/Icons/Location.astro"
import Section from "@/components/Section.astro"
import { hero } from "@/data/es.json"
---

<Section>
  <div class="flex flex-col border-b-2 pb-1 border-gray-300">
    <h2 class="font-bold">{hero.name}</h2>
    <h3 class="text-gray-800">{hero.position}</h3>
    <div class="print:hidden md:hidden grid grid-cols-1 text-gray-800">
      <a
        class="flex items-center hover:underline"
        href={`mailto:${hero.email}`}
      >
        <span class="mr-1">
          <CarbonEmail />
        </span>
        {hero.email}
      </a>
      <a
        class="flex items-center hover:underline"
        href={hero.github_link}
        target="_blank"
      >
        <span class="mr-1">
          <CarbonGithub />
        </span>
        {hero.github}
      </a>
      <a
        class="flex items-center hover:underline"
        href={hero.location_link}
        target="_blank"
      >
        <span class="mr-1">
          <CarbonLocation />
        </span>
        {hero.location}
      </a>
    </div>
    <div class="hidden print:flex md:flex flex-1 space-x-3 text-gray-800">
      <a
        class="flex items-center hover:underline"
        href={`mailto:${hero.email}`}
      >
        <span class="mr-1">
          <CarbonEmail />
        </span>
        {hero.email}
      </a>
      <a
        class="flex items-center hover:underline"
        href={hero.github_link}
        target="_blank"
      >
        <span class="mr-1">
          <CarbonGithub />
        </span>
        {hero.github}
      </a>
      <a
        class="flex items-center hover:underline"
        href={hero.location_link}
        target="_blank"
      >
        <span class="mr-1">
          <CarbonLocation />
        </span>
        {hero.location}
      </a>
    </div>
  </div>
</Section>
